.global{
       color: #2a2a2a;
       height: 100vh;
       width: 100%;
       background: #000;
}

.global img{
    width: 60%;
    height: 40vh;
}

.global-text{
    background-color: #000;
}

.global-text a{
    font-size: 3rem;
    background-color: #fff;
    color: #000; 
    border-radius: 7px;
    text-decoration: none;
}

.global-text a:hover{
    background-color: rgb(255, 188, 140);
    color: #000;
    border-radius: 4px;
    transition:all 0.2s ease-in-out;
}


.global h1{
    font-size: 3rem;
}

.global p{
    font-size: 1.3rem;
}

.global ul{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap:5px;
    list-style: none;
    align-items: center;
    font-size: 1.3rem;
    width: 50%;
    padding: 1rem 2rem;
} 
 



@media screen and(max-width:550px){
    .global ul{
        display: block;
        margin: 5vh;
    }

    .global li{
        display: block;
        justify-content: space-between;
        padding: 2rem 2rem 2rem 0;
        text-align: start;
    }


}